.container-certificate {
  position: relative;
  z-index: 1;
  width: 1123px !important;
  height: 794px !important;
  box-sizing: border-box;
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
}

.container-certificate::after {
  /* Crea el pseudo-elemento */
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Asegúrate de que la marca de agua esté debajo del contenido */
  z-index: 0;

  /* Las siguientes son las propiedades clave */
  /* Define las imágenes del patrón 4, 3, 4, 3, separadas por coma */
  background-image:
    /* Fila 1: 4 logos */
    url("/assets/logos/logo.png"), 
    url("/assets/logos/logo.png"), 
    url("/assets/logos/logo.png"), 
    url("/assets/logos/logo.png"), 
    
    /* Fila 2: 3 logos */
    url("/assets/logos/logo.png"), 
    url("/assets/logos/logo.png"),
    url("/assets/logos/logo.png"), 

    /* Fila 3: 4 logos */
    url("/assets/logos/logo.png"), 
    url("/assets/logos/logo.png"), 
    url("/assets/logos/logo.png"), 
    url("/assets/logos/logo.png"),

    /* Fila 4: 3 logos */
    url("/assets/logos/logo.png"), 
    url("/assets/logos/logo.png"),
    url("/assets/logos/logo.png"),

    /* Fila 5: 4 logos */
    url("/assets/logos/logo.png"), 
    url("/assets/logos/logo.png"), 
    url("/assets/logos/logo.png"), 
    url("/assets/logos/logo.png");

  
  /* Define el tamaño de cada imagen */
  background-size: 150px; 

  /* Define la posición de cada imagen para crear el patrón 4, 3, 4, 3 */
  background-position:
    /* Fila 1: 4 logos distribuidos uniformemente */
    top 20px left 50px,
    top 20px left 300px,
    top 20px left 550px,
    top 20px left 800px,

    /* Fila 2: 3 logos centrados */
    top 180px left 175px,
    top 180px left 425px,
    top 180px left 675px,

    /* Fila 3: 4 logos distribuidos uniformemente */
    top 340px left 50px,
    top 340px left 300px,
    top 340px left 550px,
    top 340px left 800px,

    /* Fila 4: 3 logos centrados */
    top 500px left 175px,
    top 500px left 425px,
    top 500px left 675px,

    /* Fila 5: 4 logos distribuidos uniformemente */
    top 660px left 50px,
    top 660px left 300px,
    top 660px left 550px,
    top 660px left 800px;
    /* top 50px left calc(50% + 50px),
    top 250px left calc(50% + 250px); */

  /* Evita que las imágenes se repitan */
  background-repeat: no-repeat;
  
  /* Opacidad para que parezca una marca de agua */
  opacity: 0.2;
}